<%- include('partials/header'); -%>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="input-group mb-3">
                                <select class="form-select" aria-label="Default select example" name="to">
                                    <option selected>Elegir Razón Social</option>
                                    <option value="COSA">COMERCIAL OESTE SA</option>
                                    <option value="Cf">CONSUMIDOR FINAL</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Fecha </span>
                                <input type="date" class="form-control"  name="date_charge" required  />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Ticket Nro. </span>
                                <input type="text" class="form-control" placeholder="00000000" maxlength="8" name="n_ticket"  />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Litros: </span>
                                <input type='number' step='0.01' value='0.00' placeholder='0.00' name="liters" required />                                
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Total $</span>
                                <input type="number" class="form-control" placeholder="Precio Final" name="price">
                            </div>
                            <button class="btn btn-block btn-outline-primary" type="submit"
                                id="button-addon2">ACEPTAR</button>

                        </form>
                    </div>
                </div>
                <% if (status.indexOf('Error')!=-1) { %>
                        <div class="alert alert-dismissible alert-danger">                        
                            <%= status %></div>
                    <% } else if(status.indexOf('éxito')!=-1) { %>
                        <div class="alert alert-dismissible alert-success">                        
                            <%= status %></div>
                    <% } %>
            </div>
            <!-- DATABASE TABLE -->
            <div class="col-md-7">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Litros</th>
                            <th>Week</th>
                            <th>Fecha</th>
                            <th>Action</th>
                            <th>$/Liter</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% cargas.forEach(function (tl) { %>
                            <tr>
                                <td><%= tl.n_ticket %></td>
                                <td><%= tl.liters %>L</td>
                                <td><%= tl.weekofyear %>/52</td>
                                <td><%= dformat(tl.date_charge, "d mmmm, yyyy") %></td>
                                <td>
                                    <a href="/delete/<%= tl._id %>" class="btn btn-outline-danger">Delete</a>
                                </td>
                                <td><%= tl.price_byliter %></td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>